{% extends "base.html" %}

{% block title %}Todos{% endblock %}

{% block page_title %}Todos{% endblock %}

{% block content %}

    {% include "todos/add_todo_form.html" %}

    {% for todo in todos %}
        <div class="todo-item" id="todo-item-{{ todo.id }}">
            <span class="text">{{ todo.text }}</span>
            <div class="todo-item-bottom" data-todo-item-id="{{ todo.id }}">
                <span class="complete-bar"><i class="glyphicon glyphicon-ok check-icon"></i> Completed</span>
            </div>
        </div>
    {% endfor %}

{% endblock content %}