{% extends "base.html" %}

{% block title %}Todos{% endblock %}

{% block page_title %}Todos{% endblock %}

{% block content %}
    <div class="col-lg-12 todo-input-container text-center">
        <div class="input-group col-lg-6">
            <input type="text" class="form-control" placeholder="Enter a todo task">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
            </span>
        </div>
    </div>

    <div class="col-lg-12 text-center tab-container">
        <a href="#" class="btn btn-link btn-active-todo">Active</a>
        <a href="#" class="btn btn-link btn-completed-todo active">Completed</a>
    </div>

   <div class="todo-item completed">
        <span class="text">call mom!</span>
        <div class="todo-item-bottom">
            <span class="complete-bar"><i class="glyphicon glyphicon-ok check-icon"></i> Completed</span>
        </div>
    </div>
{% endblock content %}