{% extends "base.html" %}

{% block title %}Todos{% endblock %}

{% block page_title %}Todos{% endblock %}

{% block content %}

    {% include "todos/add_todo_form.html" %}
    {% include "todos/navbar.html" %}

    {% for todo in todos %}
        <div class="todo-item completed" id="todo-item-{{ todo.id }}">
            <span class="text">{{ todo.text }}</span>
            <div class="todo-item-bottom" data-todo-item-id="{{ todo.id }}">
                <span class="complete-bar"><i class="glyphicon glyphicon-ok check-icon"></i> Completed</span>
            </div>
        </div>
    {% empty %}
        <div class="col-lg-12 text-center margin-top-20">
            <h4>Can't find any todos here!</h4>
        </div>
    {% endfor %}
{% endblock content %}